.mySelect {
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    width: max-content;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    border: 2px solid darkblue;
    outline: transparent;
}