* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
}

.App {
    width: 800px;
}

.post {
    padding: 1rem;
    border: 3px solid darkblue;
    margin-top: 1rem;
}

.post__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}